Repository nareddyt/discover-rewards-notifier, pull requests merged in 2018-12, with the labels that each got.

#88 Retire Discover Deals
  README.md
  data/README.md
  data/deal/data.json
  data/deal/raw.html
  docs/deals.json
  docs/img/screenshots/retired-discover-deals.png
  docs/index.md
  img/screenshots/retired-discover-deals.png
Labels: bug-fix, data-update

#87 Fix #86: Excludes Facebook
  tools/dataProcessor.js
Labels: bug-fix

#89 Fix incorrect deals location log
  src/background.js
Labels: bug-fix

#90 Data update 12-12-2018
  data/cashback/data.json
  data/cashback/raw/2.html
  data/cashback/raw/3.html
  data/cashback/raw/4.html
  data/cashback/raw/5.html
  data/cashback/raw/6.html
  docs/cashbacks.json
Labels: data-update
