Repository nareddyt/discover-rewards-notifier, pull requests merged in 2019-06, with the labels that each got.

#92 Documentation Update
  README.md
Labels: minor-update

#93 Migrate from google search to bing web search
  data/cashback/data.json
  docs/cashbacks.json
  package-lock.json
  package.json
  tools/README.md
  tools/dataProcessor.js
Labels: data-update, enhancement

#94 Data update 6/5/19
  data/cashback/data.json
  data/cashback/raw/1.html
  data/cashback/raw/2.html
  data/cashback/raw/3.html
  data/cashback/raw/4.html
  data/cashback/raw/5.html
  data/cashback/raw/6.html
  docs/cashbacks.json
Labels: data-update
